
@{
    ViewBag.Title = "Ajax_New";
}

<div id="containershow">
    <nav>
        <a class="nav-link" href="/Teacher/List">Back to Teachers</a>
    </nav>
    <h2>New Teacher</h2>

    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" />
    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" />
    </div>
    <div>
        <label for="TeacherNumber">Teacher Number:</label>
        <input type="text" id="TeacherNumber" name="TeacherNumber" />
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="date" id="HireDate" name="HireDate" />
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="number" id="Salary" name="Salary" />
    </div>
    @{ }
    <button onclick="AddTeacher();">Add Teacher</button>
</div>
