@model CumulativePart1_n01075532.Models.Teachers
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
       <a class="nav-link" href="/Teacher/List">Back to Teachers</a>
        <a class="del" href="Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Member Since @Model.HireDate</p>
</div>
